body
{
    background-color: #f5e3cd;
}
h1.titulo
{
    text-align: center;
    color: #650205;
}
p.carta
{
    text-align: left;
}
img.img_index
{
    width: 100px;
    height: 100px;
}
p.cafe
{
    text-align: center;
}
p.contacto
{
    text-align: right;
}
.color
{
    color: #813a34;
}
.color_cafe
{
    color: #9e2014;
    font-weight: bold;
}
.enlace
{
    color: #813a34;
    text-decoration: none;
}
img.img_contacto
{
    width: 30px;
    height: 20px;
}
p.reservas
{
    background-color: sandybrown;
    display: block;   
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 150px;
    margin-right: 150px;
}
.contacto
{
    display: block;
    margin-left: 150px;
}